# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/dow2fix.slnx/v18/Browse.VC.opendb
.vs/dow2fix.slnx/v18/Browse.VC.db-wal
.vs/dow2fix.slnx/v18/Browse.VC.db-shm
.vs/dow2fix.slnx/v18/Browse.VC.db
.vs/dow2fix.slnx/FileContentIndex/b8f99384-b93b-4a17-bc60-3a1a7ec5f48e.vsidx
.vs/dow2fix.slnx/FileContentIndex/66d1d4e8-930e-4edf-a52a-5249615b6b53.vsidx
dow2fix.slnx
dow2fix.vcxproj
dow2fix.vcxproj.filters
dow2fix.vcxproj.user
dow2fix/.vs/dow2fix.slnx/FileContentIndex/240d0cd2-9432-43db-ac04-96f20486939c.vsidx
dow2fix/.vs/dow2fix.slnx/v18/.suo
dow2fix/.vs/dow2fix.slnx/v18/Browse.VC.db
dow2fix/.vs/dow2fix.slnx/v18/DocumentLayout.json
dow2fix/.vs/dow2fix.slnx/v18/ipch/AutoPCH/c63354b75f0c4d6f/DLLMAIN.ipch
dow2fix/.vs/dow2fix.slnx/v18/ipch/ce7844504ddd5ba1.ipch
